﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Artists</title>
</head>
<body>
    <h2> Artists</h2>

    <ul>
        {% for artist in artists %}
            <li>
        <!--Esta linea s trae el id de los artists entregado por el object.all() y el .name de c/u-->
                <a href="/artists/{{artist.id}}">{{artist.name}}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>