﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>{{artist.name}}</h2>
    <h3>Año de formacion: {{artist.year_formed}}</h3>
</body>
</html>